<div class="submit_ad">
  <div class="submit_ad_title">
    <mat-card>
      <h3>
        <ion-icon name="pencil-outline"></ion-icon>&nbsp;
        Submit Ad
      </h3>
    </mat-card>
  </div>
  <br><br>
  <div class="submit_ad_main">
    <mat-card>
      <mat-tab-group>
        <mat-tab label="1.Basic">

        </mat-tab>
        <mat-tab label="2.Location">

        </mat-tab>
        <mat-tab label="3.Category">
        </mat-tab>
        <mat-tab label="4.Media">
        </mat-tab>
        <mat-tab label="5.Terms">
        </mat-tab>
        <mat-tab label="6.Final">
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
