<div class="delete_profile">
  <div class="delete_profile_title">
    <mat-card>
      <h3>
        <ion-icon name="pencil-outline"></ion-icon>&nbsp;
        My Ads
      </h3>
    </mat-card>
  </div>
  <br>
  <div class="delete_profile_main">
    <mat-card>
      <h2>
        <span>Delete my Profile, I do not need it any more.</span> &nbsp;
        <button mat-mini-fab color="primary" (click)="profileDelete()">
          <ion-icon name="alert-outline"></ion-icon>
        </button>
      </h2>
      <br>
      <h3>
        <span>Deletion of account</span>
      </h3>

      <p>You can delete your account, in this case all your data will be deleted from our database. Have you had a Premium-membership? In such a case will be this membership immediately cancelled.</p>

    </mat-card>
  </div>
</div>
