.delete_profile_main .button_group {
  margin-bottom: 20px;
}
.delete_profile_main .button_group>button {
  margin: 10px;
}
.delete_profile_main h2>span {
  color: red;
}
.delete_profile_main h3>span {
  color: red;
}
.delete_profile_main h2 mat-icon {
  color: darkgray;
}
