<div class="nav">
  <mat-toolbar>
    <div fxHide.gt-xs class="navbar_item">
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>
      <a (click)="home_page()"><h2>My Website</h2></a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs class="navbar">
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
        <li>
          <a>
            <select>
              <option *ngFor="let language of states"
                      [value]="language.name">
                <img width="20" height="20" src="https://www.countryflags.io/us/flat/64.png" alt="test">
                {{language.name}}
              </option>
            </select>
          </a>
        </li>
        <li>
          <a (click)="my_profile()"><p>{{name}} &nbsp; Profile</p></a>
        </li>
        <li>
          <a><p>Submit Ads</p></a>
        </li>
        <li (click)="logout()">
          <a><p>Logout</p></a>
        </li>
      </ul>
    </div>
  </mat-toolbar>
</div>
