.nav mat-toolbar {
  background: #333333;
  position: fixed;
  z-index: 9999;
}
.nav div>a>h1 {
  font-family: 'Pinyon Script';
  font-size: 32px;
  color: white;
}
.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar_item mat-icon {
  color: #865fff;
}
.navbar {
  width: 100%;
}
.navbar>ul {
  display: flex;
  float: right;
}
.navbar>ul>li {
  margin: 0 15px 0 15px;
}
.navbar>ul>li>a>p {
  color: white;
}
.navbar>ul>li>a {
  text-transform: capitalize;
  font-size: 16px;
}
.navbar>ul>li>a>select {
  background: #333333;
  color: white;
  font-size: 16px;
  border: none;
}
mat-toolbar{
  border-radius: 3px;
}

@media(max-width: 959px){
  mat-toolbar{
    border-radius: 0;
  }
}
