<div class="user_login">
  <mat-card>
    <mat-tab-group >
      <mat-tab label="Email" >
        <form class="login_submit" [formGroup]="login" (ngSubmit)="onSubmit()">
          <br><br>
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. pat@example.com" formControlName="email"
                   [ngClass]="{'is-invalid': submitted && f.email.errors}">
            <mat-error>
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
            </mat-error>
          </mat-form-field>

          <br><br>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
                   formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors}" autocomplete="on">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </mat-error>
          </mat-form-field>
          <br><br>

          <div class="forget_password">
              <mat-checkbox><label>Keep me logged in</label></mat-checkbox>
              <p (click)="confirmEmail()"><a>Forgot Password?</a></p>
          </div>
          <br><br>
          <button mat-flat-button
                  type="submit" color="warn">Login
          </button>
        </form>
        <br>
        <h6>------------ or ------------</h6>

        <div class="social_button">
          <div>
            <button mat-flat-button color="primary">
              <ion-icon name="logo-facebook"></ion-icon>
              FACEBOOK
            </button>
          </div>
          <div>
            <button mat-flat-button color="accent">
              <ion-icon name="logo-google"></ion-icon>
              G-Mail
            </button>
          </div>
        </div>
        <br>
        <hr>
        <div class="login_confirm">
          <p>No account yet?</p>
          <p><a (click)="sign_up()">Sign Up</a></p>
        </div>
      </mat-tab>
      <mat-tab label="Phone"> Phone Verify </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
