.reset_password {
  width: 100%;
  margin: auto;
}


.example-full-width {
  width: 100%;
}

.email_verify>button {
  width: 100%;
}

.reset_password h3 {
  text-align: center;
  color: #1976d2;
}
.reset_password button {
  width: 100%;
}
