.admin_main {
  height: 100%;
  background: #202533;
}
.side_bar {
  margin: 0;
  padding: 0;
  background: #202533;;
}
.side_bar ul {
  border-left: 1px solid slateblue;
  border-top: 1px solid slateblue;
  border-right: 1px solid slateblue;
  padding: 0;
  margin: 0;
}
.side_bar ul li {
  color: #7681aa;
  list-style: none;
  padding: 15px 10px 5px 20px;
  cursor: pointer;
  border-bottom: 1px solid slateblue;
}
.side_bar ul li.active {
  color: #16a778;
}
.side_bar ul li:hover {
  color: white;
  background: #333333;
}
.side_bar ul li:active {
  color: #16a778;
}
.side_bar ul li mat-icon {
  font-size: 14px;
  vertical-align: -webkit-baseline-middle;
}
.side_bar ul li span {
  font-size: 15px;
}
.admin_main>h1 {
  font-family: 'Pinyon Script';
  font-size: 32px;
  color: white;
  padding: 20px 0 0 20px;
}
.admin_main .item {
  margin: 5px;
}
.logout {
  position: absolute;
  bottom: 10px;
  width: 10rem;
}
.logout span {
  color: red;
}
.logout mat-icon {
  color: red;
}
.main {
  color: white;
}
