.my_ads_title>mat-card {
  display: flex;
  justify-content: space-between;
}
.my_ads_title>mat-card>h3 {
  margin-bottom: 0;
}
.my_ads_title>mat-card>h4>span {
  cursor: pointer;
}
.my_ads_title>mat-card>h4 span.active {
  color: red;
  border-bottom: 1px solid red;
}
@media (min-width: 1000px) {
  .my_ads_title>mat-card>h4>span {
    margin: 0 20px 0 20px;
  }
}
@media (max-width: 1000px) {
  .my_ads_title>mat-card>h4>span {
    margin: 0 10px 0 10px;
  }
}
@media (max-width: 768px) {
  .my_ads_title>mat-card>h4>span {
    margin: 0 1px 0 1px;
  }
}
