<div class="my_ads">
  <div class="my_ads_title">
    <mat-card>
      <h3>
        <ion-icon name="pencil-outline"></ion-icon>&nbsp;
        My Ads
      </h3>
      <h4>
        <span *ngFor="let item of style"><span [ngClass]="item.status===true?'active':''" (click)="change_style(item.id)">{{item.name}}</span></span>
      </h4>
    </mat-card>
  </div>
  <br>
  <div class="my_ads_main">
      <div *ngFor="let item of myAdv">
        <mat-card>
          <a><p>Edit<mat-icon>arrow_right_alt</mat-icon></p></a>
          <div class="my_ads_view">
            <div *ngIf="item.featuredImage" > <img src="http://localhost:4201/upload/{{item.featuredImage}}" alt=""></div>
            <div class="adv_main_body">
              <h2>{{item.title}}</h2>
              <h4 [innerHTML] = "item.description"></h4>
              <div>
                <p><span>CHF{{item.price}}</span></p>
                <p><button mat-button [ngClass]="item.status">{{item.status}}</button></p>
              </div>
            </div>
          </div>
        </mat-card>
        <br>
      </div>
  </div>
</div>
