<div class="my_profile_basic">
  <form [formGroup]="add_profile" (ngSubmit)="onSubmit()">
      <div class="container"
           fxLayout
           fxLayout.xs="column"
           fxLayoutAlign="center"
           fxLayoutGap="10px"
           fxLayoutGap.xs="0">

            <div class="item item-1" fxFlex="50%">
              <h3>First Name</h3>
              <mat-form-field class="example-full-width">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First Name"
                       formControlName="firstName"
                       [ngClass]="{'is-invalid': submitted && f.firstName.errors}"
                >
                <mat-error>
                  <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                  </div>
                </mat-error>
              </mat-form-field>
              <br><br>
              <h3>Your City</h3>
              <mat-form-field class="example-full-width">
                <mat-label>Your City</mat-label>
                <input matInput placeholder="Your City"
                                formControlName="yourCity"
                                [ngClass]="{'is-invalid': submitted && f.yourCity.errors}"
                >
                <mat-error>
                  <div *ngIf="submitted && f.yourCity.errors" class="invalid-feedback">
                    <div *ngIf="f.yourCity.errors.required">Your City is required</div>
                  </div>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="item item-2" fxFlex="50%" fxFlexOrder="3">
              <h3>Last Name</h3>
              <mat-form-field class="example-full-width">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last Name"
                                formControlName="lastName"
                                [ngClass]="{'is-invalid': submitted && f.lastName.errors}"
                >
                <mat-error>
                  <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                  </div>
                </mat-error>
              </mat-form-field>
              <br><br>
              <h3>Your Email</h3>
              <mat-form-field class="example-full-width">
                <mat-label>{{current_email}}</mat-label>
                <input matInput value="{{current_email}}" placeholder="Email"
                                 readonly>
              </mat-form-field>
            </div>
        <br>
      </div>
      <br>
      <button mat-button type="submit">SAVE CHANGES</button>
  </form>
</div>
