.my_profile_basic .container mat-button-toggle-group {
  width: 100%;
}
.my_profile_basic>form {
  border: 1px solid #3e2b56;
}
.my_profile_basic .container mat-button-toggle-group mat-button-toggle {
  width: 50%;
}
.my_profile_basic .container mat-button-toggle-group mat-button-toggle.mat-button-toggle-checked {
  background: #3e2b56;
  color: white;
}
.my_profile_basic .item-2>h3 {
  margin: 0 0 12px;
}
.my_profile_basic .email {
  display: flex;
}
.my_profile_basic .email>mat-form-field {
  margin-right: 10px;
}
.my_profile_basic .email>mat-icon {
  background: red;
  padding: 8px;
}
.company_logo>input {
  height: 130px;
  width: 100%;
  border: 1px dotted darkgray;
}
.save_button {
  display: flex;
  justify-content: space-between;
}
.save_button>div {
  width: 50%;
  text-align: center;
  border: 1px solid darkgray;
  margin: 0 10px 0 10px;
}
.save_button>div>button {
  width: 100%;
}
.canton mat-form-field .mat-form-field-infix {
border-top: 0!important;
}
.my_profile_basic .container .item {
  margin: 15px;
}
