<div class="my_profile_basic">
  <div class="container"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">

    <div class="item item-1" fxFlex="50%">
      <h3>First Name</h3>
      <mat-form-field class="example-full-width">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" >
      </mat-form-field>
      <br><br>
      <h3>Your City</h3>
      <mat-form-field class="example-full-width">
        <mat-label>Your City</mat-label>
        <input matInput placeholder="Your City">
      </mat-form-field>
    </div>

    <div class="item item-2" fxFlex="50%" fxFlexOrder="3">
      <h3>Last Name</h3>
      <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name">
      </mat-form-field>
      <br><br>
      <h3>Your Email</h3>
      <mat-form-field class="example-full-width">
        <mat-label>Your Email</mat-label>
        <input matInput placeholder="Your Email">
      </mat-form-field>
    </div>
    <br>
  </div>
  <br>
  <button mat-button>SAVE CHANGES</button>
</div>
