<div class="my_profile">
  <div class="my_profile_title">
    <mat-card>
      <h3>
        <ion-icon name="pencil-outline"></ion-icon>&nbsp;
        My Profile
      </h3>
    </mat-card>
  </div>
  <br><br>
  <div class="my_profile_main">
    <mat-card>
      <mat-tab-group>
        <mat-tab label="Basic">
          <app-my-profile-basic></app-my-profile-basic>
        </mat-tab>
        <mat-tab label="Contact">
          <app-my-profile-contact></app-my-profile-contact>
        </mat-tab>
        <mat-tab label="About">
          <app-my-profile-about></app-my-profile-about>
        </mat-tab>
        <mat-tab label="Social">
          <app-my-profile-social></app-my-profile-social>
        </mat-tab>
        <mat-tab label="Password">
          <app-my-profile-password></app-my-profile-password>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
