.users table {
  width: 100%;
}
.users table {
  background: #202533;
  border: 1px solid slateblue;
}
.users .ng-star-inserted {
  color: white;
}
.users .mat-select-arrow {
  color: white;
}
.users table th {
  color: white;
  border-bottom: 1px solid;
}
.users table td {
  color: white;
  border-bottom: 1px solid;
}
.users .mat-sort-header-container {
}
.user_table .mat-paginator-navigation-previous {
  color: white!important;
}
.user_table .mat-paginator-navigation-next {
  color: white!important;
}
.users mat-paginator {
  background: #202533;
  border: 1px solid slateblue;
  color: white;
}
.users .material-icons {
  font-size: 19px;
}
