<div class="submit_ad_basic">
  <div class="submit_ad_basic_title">
    <div class="container"
         fxLayout
         fxLayout.xs="column"
         fxLayoutAlign="center"
         fxLayoutGap="20px"
         fxLayoutGap.xs="0">
      <div class="item item-1" fxFlex="50%">
        <h3>Ad Title <span>*</span></h3>
        <mat-form-field class="example-full-width">
          <mat-label>Ad Title</mat-label>
          <input matInput placeholder="Ad Title">
        </mat-form-field>
        <p>Input title of the ad which must be unique</p>
      </div>
      <div class="item item-2" fxFlex="50%">
        <h3>Featured Image</h3>
        <button mat-button>FEATURED IMAGE</button>
        <P>Select featured image for the ad</P>
      </div>
    </div>
  </div>
  <div class="submit_ad_basic_main">
    <h3>Ad Description <span>*</span></h3>
  </div>
  <!--<formio [form]="form"-->
          <!--[renderOptions]="renderOptions"-->
          <!--[options]="options"-->
          <!--(submit)="submitForm($event)">-->
  <!--</formio>-->

</div>
